//colors
$main-color1: #254E58;
$main-color2: #88BDBC;
$main-color3: #D1EBEB;
$dark-mode: #081517;
$error: #DB4437;


//font-size

$h1: 50px;
$h3: 40px;
$h5: 30px;
$h6: 25px;
$p: 20px;


//container size
$container-size: 1170px;

//break-points
$tablet-break:1024px;
$smart-break: 768px;
$other-break: 450px;