@font-face {
    font-family: 'Helvetica Neue LT GEO';
    src: url('HelveticaNeueLTGEO-55Roman.eot');
    src: url('HelveticaNeueLTGEO-55Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTGEO-55Roman.woff2') format('woff2'),
        url('HelveticaNeueLTGEO-55Roman.woff') format('woff'),
        url('HelveticaNeueLTGEO-55Roman.ttf') format('truetype'),
        url('HelveticaNeueLTGEO-55Roman.svg#HelveticaNeueLTGEO-55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO 55 Roman';
    src: url('HelveticaNeueLTGEO-75Bold.eot');
    src: url('HelveticaNeueLTGEO-75Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTGEO-75Bold.woff2') format('woff2'),
        url('HelveticaNeueLTGEO-75Bold.woff') format('woff'),
        url('HelveticaNeueLTGEO-75Bold.ttf') format('truetype'),
        url('HelveticaNeueLTGEO-75Bold.svg#HelveticaNeueLTGEO-75Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO 65';
    src: url('HelveticaNeueLTGEO-85Heavy.eot');
    src: url('HelveticaNeueLTGEO-85Heavy.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTGEO-85Heavy.woff2') format('woff2'),
        url('HelveticaNeueLTGEO-85Heavy.woff') format('woff'),
        url('HelveticaNeueLTGEO-85Heavy.ttf') format('truetype'),
        url('HelveticaNeueLTGEO-85Heavy.svg#HelveticaNeueLTGEO-85Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO 25 UltLt';
    src: url('HelveticaNeueLTGEO-25UltLt.eot');
    src: url('HelveticaNeueLTGEO-25UltLt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTGEO-25UltLt.woff2') format('woff2'),
        url('HelveticaNeueLTGEO-25UltLt.woff') format('woff'),
        url('HelveticaNeueLTGEO-25UltLt.ttf') format('truetype'),
        url('HelveticaNeueLTGEO-25UltLt.svg#HelveticaNeueLTGEO-25UltLt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO 95';
    src: url('HelveticaNeueLTGEO-95Black.eot');
    src: url('HelveticaNeueLTGEO-95Black.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTGEO-95Black.woff2') format('woff2'),
        url('HelveticaNeueLTGEO-95Black.woff') format('woff'),
        url('HelveticaNeueLTGEO-95Black.ttf') format('truetype'),
        url('HelveticaNeueLTGEO-95Black.svg#HelveticaNeueLTGEO-95Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO';
    src: url('HelveticaNeueLTGEO-35Thin.eot');
    src: url('HelveticaNeueLTGEO-35Thin.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTGEO-35Thin.woff2') format('woff2'),
        url('HelveticaNeueLTGEO-35Thin.woff') format('woff'),
        url('HelveticaNeueLTGEO-35Thin.ttf') format('truetype'),
        url('HelveticaNeueLTGEO-35Thin.svg#HelveticaNeueLTGEO-35Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO';
    src: url('HelveticaNeueLTGEO-65Medium.eot');
    src: url('HelveticaNeueLTGEO-65Medium.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTGEO-65Medium.woff2') format('woff2'),
        url('HelveticaNeueLTGEO-65Medium.woff') format('woff'),
        url('HelveticaNeueLTGEO-65Medium.ttf') format('truetype'),
        url('HelveticaNeueLTGEO-65Medium.svg#HelveticaNeueLTGEO-65Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO';
    src: url('HelveticaNeueLTGEO-45Light.eot');
    src: url('HelveticaNeueLTGEO-45Light.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTGEO-45Light.woff2') format('woff2'),
        url('HelveticaNeueLTGEO-45Light.woff') format('woff'),
        url('HelveticaNeueLTGEO-45Light.ttf') format('truetype'),
        url('HelveticaNeueLTGEO-45Light.svg#HelveticaNeueLTGEO-45Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

